.login-background-image {
    --pf-c-background-image--BackgroundColor: var(--pf-global--BackgroundColor--dark-100);
    --pf-c-background-image--Filter: url("#image_overlay");
}

.login-background-image::before {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: "";
    background-color: var(--pf-c-background-image--BackgroundColor);
    background-image: url('../img/pfbg_2000.jpg');
    filter: var(--pf-c-background-image--Filter);
    background-repeat: no-repeat;
    background-size: cover;
}